<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
<% if @cart.photos.any? %>
  <ul>
    <% @cart.photos.each do |photo| %>
      <li>
        <h3><%= photo.title %></h3>
        <p><%= photo.description %></p>
        <p>Prix : <%= photo.price %> €</p>
      </li>
    <% end %>
  </ul>

  <%= link_to "Passer la commande", class: "btn btn-primary" %>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>
</div>
