<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
<% if @cart.photos.any? %>
  <ul>
    <% @cart.photos.each do |photo| %>
      <li>
        <h3><%= photo.title %></h3>
        <p><%= photo.description %></p>
        <p>Prix : <%= number_to_currency(photo.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></p>
      </li>
    <% end %>
  </ul>
  Votre total est de : <%= number_to_currency(@cart.total, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>
  <%= button_to "Passer la commande ", checkout_create_path(total: @cart.total), class: "btn btn-primary my-2", remote: true , data: { turbo: "false" } %>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>
</div>
