<div id="<%= dom_id photo %>">
  <p>
    <strong>Price:</strong>
    <%= photo.price %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <p>
    <img src="<%= photo.image_url %>" alt="<%= photo.title %>">
    </p>
  </p>

</div>
