
<h1 class="h2 mt-5"><%= photo.title %></h1>
<img src="<%= photo.image_url %>" alt="<%= photo.title %>" class="rounded img-fluid w-50 my-5">
<p><%= photo.description %></p>
<strong class="text-secondary"><%= photo.price %>&nbsp;€</strong>

