<div id="<%= dom_id photo %>" class="card">
  <img src="<%= photo.image_url %>" alt="<%= photo.title %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= photo.title %></h5>
    <p class="card-text"><%= photo.description %></p>
    <p class="card-text"><%= photo.price %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
